streamlit
tweepy
pandas
matplotlib
seaborn
plotly
textblob
python-dotenv
streamlit-autorefresh
streamlit
tweepy
pandas
plotly
textblob
python-dotenv
wordcloud
nltk
streamlit-aggrid
streamlit-echarts
altair
